__pycache__
.DS_Store
.vscode
.venv
.yakut
fmuas.code-workspace
pycyphal_generated
gcs.log
uav.log
xpio.log
mavlog.log
_old
stored_images
backups
aptnav
test
test.py
test.acf
uav/clock.db
uav/gps.db
uav/sensorhub.db
uav/uavmain.db
uav/motorhub.db
output.txt
