[submodule "data_types/public_regulated_data_types"]
	path = data_types/public_regulated_data_types
	url = https://github.com/OpenCyphal/public_regulated_data_types
[submodule "UAS-Project-XP-Files/UAS-Project-XP-Files"]
	path = UAS-Project-XP-Files/UAS-Project-XP-Files
	url = https://github.com/fmachanda/UAS-Project-XP-Files.git
